body {
  font-family:Times, serif, sans-serif;
  background-color: #fff5e6;
  color: #333;
  margin: 20px;
}

header {
  background-color: #b80909c2;
  color: white;
  padding: 10px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

h1{
  color: #f1ededf2;
}
h2, h3 {
  color: #e40615;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 10px;
}

table, th, td {
  border: 1px solid #0aca1a;
  padding: 8px;
}

form {
  background-color: #ffffff;
  padding: 10px;
  border: 1px solid #ccc;
  width: 300px;
}
